

.login {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
    border: 5px solid gray;
    margin-top: 10rem;
    border-radius: 30px;
    background-color: white;
  }
  .filogin{
    text-align: center;

}
.control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  
.control label,
.control input {
    display: block;
  }
  
.control label {
    font-weight: bold;
    flex: 1;
    color: #464646;
    margin-bottom: 0.5rem;
  }
  
.control input {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
.control input:focus {
    outline: none;
    border-color: #15d01e;
    background: #dbfcef;
  }
  
.control.invalid input {
    border-color: red;
    background: #d6d3d0;
  }
  
.actions {
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .control {
      align-items: center;
      flex-direction: row;
    }
  
  }